<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}{{ .Site.Params.favicon }}">

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!-- Icons -->
	<link href="{{ .Site.BaseURL }}fontawesome/css/fontawesome-all.css" rel="stylesheet">
	<!-- Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
	<!-- Custom styles -->
	<link rel="stylesheet" href="{{ .Site.BaseURL }}css/styles.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ else }}
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
    {{ end }}
	<script async>(function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='10a133003da2e100efb7d20042f21d0016bdea00b464c200d459590074ccd000';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/');</script>
</head>
<body class="home">

<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img src="{{ .Site.BaseURL }}images/logo.png" alt="">
			<span class="title sr-only">{{ .Site.Params.name }}</span>
			<span class="tagline">{{ .Site.Params.description }}<br>
				<a href="">{{ .Site.Params.email }}</a>
            </span>
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
