<div class="container section recentworks topspace">

    <h2 class="section-title"><span>Recent Works</span></h2>
    <div class="row thumbnails">

            {{ range $index, $area := .Site.Data.recentworks }}
                <div class="col-lg-4 col-sm-6 portfolio-item" style="margin-left: .5em; margin-right:0.5em">
                <div class="card h-50 thumbnail">
                    <a class="card-img-top" href="{{ .url }}">
                            <img src="{{ .image }}" alt="" >
                            <span class="cover"><span class="more">See details &rarr;</span></span>
                        <span class="title">{{ .name }}</span>
                    </a>
                    <div class="card-body">
                        {{ $len := sub (len .items) 1 }}
                        {{ range $i, $item := where .items "id" .index }}
                            <a href="{{ .url }}">{{ .name }}</a>
                            {{ if gt $len $i }} | {{ end }}
                        {{ end }}
                    </div>
                </div>

    </div>
            {{ end }}
        </div>

</div>
<!-- /section -->
